.qr-app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
}

.qr-name{
  position: absolute;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.change-qr-name {
  border-radius: 5px;
  background-color: #ebf3ff;
  padding: 5px 10px;
  color: #5688e8;
  font-size: 14px;
  margin-right: 16px;
}

.qr-nickname{
  font-size: 20px;
  color: white;
  position: absolute;
  width: 100vw;
  font-weight: bold;
  padding-left: 65px;
}

.qr-time {
  position: absolute;
  bottom: 14px;
  color: white;
  font-size: 15px;
  align-self: flex-start;
  width: 100vw;
  padding-left: 22px;
}
.qr-time > span {
  font-size: 28px;
  margin-left: 4px;
  baseline-shift: baseline;
}

.qr-img-wrapper{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}



.qr-toolbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.qr-img-random-qr{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 120px;
}



.detail-style {
  width: 100vw;
}

.footer-wrapper {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.footer-wrapper > .footer-wrapper-phone{
  font-size: 15px;
  align-items: center;
}

.footer-wrapper > .footer-wrapper-shit{
  margin-top: 9px;
  color: gray;
  font-size: 13px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.footer-wrapper > .footer-wrapper-shit-end{
  margin-top: 3px;
  color: gray;
  font-size: 13px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
}

.detail-click {
  width: calc(30vw + 30px);
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
}

.qr-style {
  width: 100vw;
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
}

.detail-style-wrapper{
  position: relative;
  width: 100vw;
}

.yk-toolbar{
  height: 45px;
  width: 100vw;
  background-color: #4e8aed;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  padding-right: 8px;
}

.yk-toolbar-tip{
  height: 20px;
  width: 100vw;
  background-color: #dadbef;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 45px;
  left: 0;
  z-index: 100;
}

.yk-toolbar-tip > span {
  color: #5688e8;
  font-size: 12.3px;
  font-weight: bold;
}

.qr-code-wrapper{
  width: 100vw;
  position: absolute;
  top:65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
  box-sizing: border-box;
}

.qr-code-type{
  width: calc(50vw - 10px);
  padding: 5px 0;
  background-color: #e4f4e9;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 3px;
  margin-top: 8px;
}

.qr-code-type > span {
  color: #03992d;
  font-weight: 500;
  font-size: 15px;
}

.qr-code{
  margin-top: -20vw;
  width: 50vw;
  height: 50vw;
  border: 6px solid;
  border-image-source: linear-gradient(to right, #dc9845, #fbd690);
  border-image-slice: 1;
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.qr-code-finished{
  width: 30px;
  position: absolute;
  top: -20px;
  left: -20px;
}

.qr-code-img{
  width: 45vw;
  height: 45vw;

}

.result-wrapper{
  width: 100vw;
  height: 140px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 16px;
  box-sizing: border-box;
}

.result-hs{
  border-radius: 5px;
  box-sizing: border-box;
  border: solid 1px #c3e7cd;
  width: calc(50vw - 24px);
  height: 120px;
  background-color: #eaf5ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.result-ym{
  border-radius: 5px;
  box-sizing: border-box;
  border: solid 1px #d0e4fd;
  width: calc(50vw - 24px);
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.result-tools{
  display: flex;
  align-items: center;
}

.result-tools-icon{
  width: 20px;
  height: 20px;
}

.result-tools-text{
  font-size: 16px;
  margin-left: 5px;
  color:gray;
}

.result-tools-right{
  font-size: 16px;
  margin-left: 5px;
  opacity: 0.6;
}

.text-wrapper{
  display: flex;
  margin-top: 8px;
  align-items: center;
}

.text-wrapper-l{
  display: flex;
  align-items: flex-end;
}

.text-wrapper-l > span{
  font-size: 50px;
  font-weight:500;
}

.text-wrapper-r{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
}

.text-wrapper-r-t{

}

.text-wrapper-r-b{
  margin-top: 5px;
}

.btn-wrapper{
  display: flex;
  padding: 12px;
  width: calc(100vw - 32px);
  border: solid 1px #e3e3e3;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 18px;
  margin-left: 16px;
  margin-right: 16px;

}

.info-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100vw - 32px) / 3);

}

.info-btn > img{
  width: 42px;
  height: 42px;
}

.info-btn > span {
  margin-top: 8px;
  font-size: 14px;
}

.none-text-dec{
  text-decoration: none;
  color: black;
}

.yk-toolbar-l-w{
  width: 100px;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.yk-toolbar-r-w{
  width: 110px;
  display: flex;
  align-items: center;
  margin-left: auto;
  box-sizing: border-box;
  height: 30px;
  padding-left: 10px;
}

.yk-toolbar-r-w-b{
  height: 100%;
  width: 100px;
  border-radius: 50px;
  background-color: #b0d1fc;
  display: flex;
  align-items: center;
  justify-content: center;

}

.yk-toolbar-home{
  width: 18px;
  height: 18px;
}

.yk-toolbar-l-w > span {
  color: white;
  font-size: 13px;
  margin-left: 8px;
}

.yk-toolbar-title{
  color: white;
  font-size: 16px;
}

.yk-toolbar-r-w-b-l{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 100%;

}

.yk-toolbar-r-w-b-l-1{
  font-size: 32px;
  height: 100%;
}

.yk-toolbar-r-w-b-l-2{
  font-size: 32px;
  height: 100%;
}

.yk-toolbar-r-w-b-l-3{
  font-size: 32px;
  height: 100%;
}

.yk-toolbar-img{
  height: 23px;
}
