.qr-app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.qr-name{
  position: absolute;
  width: 100vw;
  box-sizing: border-box;
}

.qr-nickname{
  font-size: 20px;
  color: white;
  position: absolute;
  width: 100vw;
  font-weight: bold;
  padding-left: 85px;
}

.qr-time {
  position: absolute;
  bottom: 14px;
  color: white;
  font-size: 15px;
  align-self: flex-start;
  width: 100vw;
  padding-left: 22px;
}
.qr-time > span {
  font-size: 28px;
  margin-left: 4px;
  baseline-shift: baseline;
}

.qr-img-wrapper{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

.qr-style {
  width: 100vw;
}

.qr-toolbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.qr-img-random-qr{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 120px;
}



.detail-style {
  width: 100vw;
}

.footer-wrapper {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.footer-wrapper > .footer-wrapper-phone{
  font-size: 15px;
  align-items: center;
}

.footer-wrapper > .footer-wrapper-shit{
  margin-top: 9px;
  color: gray;
  font-size: 13px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.footer-wrapper > .footer-wrapper-shit-end{
  margin-top: 3px;
  color: gray;
  font-size: 13px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
}

